<h2>Instances</h2>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>instance_id</th>
      <th>ip_address</th>
      <th>cpu_usage</th>
      <th>disk_usage</th>
      <th>process count</th>
      <th>state</th>
    </tr>
  </thead>
  <tbody>
    <% @instances.each do |instance| %>
      <tr>
        <td><%= link_to instance.instance_id, instance %></td>
        <td><%= instance.ip_address %></td>
        <td><%= instance.cpu_usage %></td>
        <td><%= instance.disk_usage %></td>
        <td><%= instance.processes.count %></td>
        <td><%= state_label(instance) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
