<h2>Instance details</h2>

<table class='table table-bordered'>
  <tbody>
    <tr>
      <td>instance_id</td>
      <td><%= @instance.instance_id %></td>
    </tr>
    <tr>
      <td>ip_address</td>
      <td><%= @instance.ip_address %></td>
    </tr>
    <tr>
      <td>cpu_usage</td>
      <td><%= @instance.cpu_usage %></td>
    </tr>
    <tr>
      <td>disk_usage</td>
      <td><%= @instance.disk_usage %></td>
    </tr>
    <tr>
      <td>process count</td>
      <td><%= @instance.processes.count %></td>
    </tr>
    <tr>
      <td>state</td>
      <td><%= state_label(@instance) %></td>
    </tr>
  </tbody>
</table>

<h3>Processes</h3>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>name</th>
      <th>pid</th>
      <th>cpu_usage</th>
    </tr>
  </thead>
  <tbody>
    <% @instance.processes.each do |process| %>
      <tr>
        <td><%= process.name %></td>
        <td><%= process.pid %></td>
        <td><%= process.cpu_usage %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @instance.running? %>
  <%= link_to 'Shutdown instance', [:shutdown, @instance], class: "btn btn-danger #{'disabled' if intermediate_state?(@instance)}" %>
<% else %>
  <%= link_to 'Start instance', [:start, @instance], class: "btn btn-success #{'disabled' if intermediate_state?(@instance)}" %>
<% end %>

<% if intermediate_state?(@instance) %>
  <p class="text-info"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;Please wait until instance will be start/shutdown</p>
<% end %>
