<!DOCTYPE html>
<html>
<head>
  <title>CrMonitor</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/navbar' %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-dismissible fade in">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= value %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
